

.isi-menu{
    display: none;
    position: absolute;
    background-color: burlywood;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    opacity: 80%;
    background-image: url('latar.jpg');
    background-size: cover;
    background-attachment: fixed; 
    color: lightgreen;
    text-shadow: white;
}


.bagian-fix{
    position: fixed;
    font-family: sans-serif;
    background-color: lightseagreen;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    z-index: 99;
}

.bagian-fix .menu-atas{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

.bagian-fix ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.bagian-fix a{
    color: black;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

.bagian-fix a:hover{
    color: black;
    font-weight: bold;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.menu-atas{
    max-width: 1200px;
    margin: 0 auto;
}


.bagian-fix .menu-atas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

.isi-menu a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.isi-menu a:hover{
    background-color: #f1f1f1
}

.menu:hover .isi-menu {
    display: block;
}
.lingkup{
    transition: 0.3s;
    margin: auto;
    border-radius: 4px;
}

}
.tampung-lingkup{
    margin-top: 0px;
}
.kirana{
    margin-top: 170px;
}
.slip{
    text-align: center;
}
.logo{
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 5px;
    background: black;
    transition: 0.2s;
    opacity: 90%;
    width: 5cm;
    height: 5cm;
    object-fit: cover;
    margin-top: 50px;

}.bagian-tentang, .tampung-kontak{
    font-size: 20px;
    padding: auto;
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 50px;
    margin-bottom: 100px;
}
.bagian-tentang p{
    text-align: justify;
}

.bagian-tentang, .tampung-kontak{
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 50px;
    margin-bottom: 100px;
}
.bagian-tentang p{
    text-align: justify;
}
p{
    margin-top: 20px;
}

h1:hover{
    color: yellow;
    letter-spacing: 5px;
}

p, h2{
    color: black;
}

.logo:hover{
    transform: scale(1.2);
    opacity: 100%;
    box-shadow: 1px 1px 6px orange;
}

@media only screen and (max-width: 600px){
    .bagian-fix a{
        font-size: 13px;
        width: 100%;
    }

    .lingkup{
        width: 90%;
        margin-left: 20px;
    }

    .bagian-tentang{
        margin-left: 20px;
        margin-right: 20px;
    }

}